@model Book

<h1>Book Details</h1>

<div>
    <dl>
        <dt>Title</dt>
        <dd>@Model.Title</dd>
        <dt>Author</dt>
        <dd>@Model.Author</dd>
        <dt>Year Published</dt>
        <dd>@Model.YearPublished</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
