@model Book

<h1>Edit Book</h1>

<form asp-action="Edit">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Author"></label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <label asp-for="YearPublished"></label>
        <input asp-for="YearPublished" />
        <span asp-validation-for="YearPublished"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
